.tareas-lista-contenedor, .submit-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}

.submit-button{
    margin-top: 12px;
    padding: 16px;
    font-size: 24px;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    outline: none;
    background: #00470b;
    color: white;
    text-transform: capitalize;
  }

.submit-button:hover{
    background: #e53508;
}
